{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    <title>尚硅谷书城-详情页</title>
{% endblock title %}

{% block content %}
	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="#" class="python">Python</a></li>
					<li><a href="#" class="javascript">Javascript</a></li>
					<li><a href="#" class="algorithms">数据结构与算法</a></li>
					<li><a href="#" class="machinelearning">机器学习</a></li>
					<li><a href="#" class="operatingsystem">操作系统</a></li>
					<li><a href="#" class="database">数据库</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="{% url 'books:index' %}">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">移动端书城</a></li>
				<li class="interval">|</li>
				<li><a href="">秒杀</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">Python</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="book_detail_con clearfix">
		<div class="book_detail_pic fl"><img src="{% static book.image  %}"></div>

		<div class="book_detail_list fr">
			<h3>{{ book.name }}</h3>
			<p>{{ book.desc }}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{ book.price }}</em></span>
				<span class="show_unit">单  位：{{ book.unit }}</span>
			</div>
			<div class="book_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" id="count" value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>	
				</div> 
			</div>
			<div class="total">总价：<em>{{ book.price }}</em></div>
			<div class="operate_btn">
                {% csrf_token %}
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart" books_id="{{ book.id }}" >加入购物车</a>

                <a href="javascript:;" id="write-comment" class="comment">我要写评论</a>
            </div>
            <div style="display:none;" id="comment-input" data-bookid="{{ book.id }}" data-userid="{{ request.session.passport_id }}">
                <div>
                    <input type="text" class="input" placeholder="评论内容"/>
                </div>
                <div id="submit-comment">
                    <button>
                        提交评论
                    </button>
                </div>
            </div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_book">
				<h3>新品推荐</h3>
				<ul>
                    {% for i in book_new %}
                        <li>
                            <a href="{% url 'books:detail' i.id %}"><img src="{% static i.image%}"></a>
                            <h4><a href="{% url 'books:detail' i.id %}">{{ i.name }}</a></h4>
                            <div class="prize">￥{{ i.price }}</div>
					    </li>
                    {% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active" id="detail">商品介绍</li>
				<li id="comment">评论</li>
			</ul>

			<div class="tab_content" id="book_detail">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{ book.detail |safe }} </dd>
				</dl>
			</div>

            <div style="display: none" id="book_comment">
{#				<dl>#}
{#					<dt>商品评论：</dt>#}
{#					<dd>{{ book.detail |safe }} </dd>#}
{#				</dl>#}
			</div>
		</div>
	</div>
	<div class="add_jump"></div>



    <style type="text/css">
        .comment{
            background-color: #c40000;
            color:#fff;
            margin-left: 10px;
            position: relative;
            z-index: 10;
            display: inline-block;
            width: 178px;
            height: 38px;
            border:1px solid #c40000;
            font-size:14px;
            line-height: 38px;
            text-align: center;
        }
    </style>

{#	<script type="text/javascript" src="js/jquery-1.12.2.js"></script>#}
	<script type="text/javascript">
		var $add_x = $('#add_cart').offset().top;
		var $add_y = $('#add_cart').offset().left;

		var $to_x = $('#show_count').offset().top;
		var $to_y = $('#show_count').offset().left;

		$(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
		$('#add_cart').click(function(){
		    var books_id=$(".add_cart").attr('books_id');
		    var book_count =$('#count').val();
		    var  csrf = $('input[name="csrfmiddlewaretoken"]').val();
		    data={
		        'book_id':books_id,
                'book_count':book_count,
                'csrfmiddlewaretoken':csrf
            };
		    $.ajax({
		        data:JSON.stringify(data),
		        type:'POST',
                url:'/cart/cart_add/',
                success:function (data) {
                    console.log(data.code);
                    //添加成功
                    if (data.code==5){
                        $(".add_jump").stop().animate({
                            'left': $to_y+7,
                            'top': $to_x+7},
                            "fast", function() {
                                $(".add_jump").fadeOut('fast',function(){
                                    count =$('#show_count').html()
                                    count=parseInt(count)+parseInt(book_count)
                                    $('#show_count').html(count);
                                });
                        });
                    }
                    else{
                        //添加失败
                        alert(data.errmsg);
                    }
                }

            });

		});

        $.ajax({
            url:'/comments/comment/' + $('#comment-input').data('bookid'),
            success:function (res) {
                if (res.code===200){
                    var data = res.data;
                    console.log(data);
                    var div_head = '<div class="cmt">';
                    var div_tail = '</div>';
                    var dom_element = ''
                    for (i=0;i < data.length;i++){
                        var u_head='<div class="user">';
                        var u_tail ='</div>';
                        var temp = u_head +'<div style="width:70px">' + data[i].user_id + '</div>' +u_tail +'<div class="cm">'+'<div>'
                        + data[i].content +'</div>'+'</div>';
                        dom_element +=temp;

                    }
                    dom_element = div_head+dom_element+div_tail;
                    console.log(dom_element)
                    $('#book_comment').append(dom_element);
                }
            }
        });

        $('#detail').click(function () {
            $(this).addClass('active');
            $('#comment').removeClass('active');
            $('#book_comment').hide();
            $('#book_detail').show();
        });
        $('#comment').click(function () {
            $(this).addClass('active');
            $('#detail').removeClass('active');
            $('#book_comment').show();
            $('#book_detail').hide();
        });
        $('#write-comment').click(function () {
            $('#comment-input').show();
        });
        $('#submit-comment').click(function () {
            var book_id = $('#comment-input').data('bookid');
            var user_id = $('#comment-input').data('userid');
            var content = $('#comment-input .input').val();
            var data={
                'book_id':book_id,
                'user_id':user_id,
                'content':content
            };
            console.log('content',content)
            $.ajax({
                type:'POST',
                url:'/comments/comment/'+book_id+'/',
                data:JSON.stringify(data),
                success:function (res) {
                    if (res.code ===200){
                        $('#comment-input').hide();
                    }
                }
            })

        })
	</script>
<script type="application/javascript">
    $.get('/cart/cart_count/',function (data) {
        //res是商品的总数
        $('#show_count').html(data.res);
    });
</script>

<script type="application/javascript">
    $(function () {
{#        update_total_price()#}
        //计算总价
        function updata_total_price() {
            //获取商品的价格和数量
            books_price = $('.show_pirze').children('em').text();
            books_count = $('.num_show').val();
            console.log(books_price,books_count)
            //计算商品的总价
            books_price=parseFloat(books_price);
            books_count=parseInt(books_count);
            total_price=books_price*books_count;
            //设置总价
            $('.total').children('em').text(total_price.toFixed(2)+'元');
        }

        //商品增加
        $('.add').click(function () {
            //获取商品的数量
            books_count = $('.num_show').val()
            //加1
            books_count = parseInt(books_count)+1
            $('.num_show').val(books_count)
            //计算总价
            updata_total_price()
        });
        //商品减少
        $('.minus').click(function () {
            //获取商品的数量
            books_count = $('.num_show').val()
            //减1
            books_count=parseInt(books_count)-1
            if (books_count==0){
                books_count =1
            }
            //重新设置值
            $('.num_show').val(books_count)
            //计算总价
            updata_total_price()
        });
        //手动输入
        $('.num_show').blur(function () {
            //获取商品数量
            books_count = $(this).val()
            //数据校验
            if (isNaN(books_count)||books_count.trim().length==0||parseInt(books_count) <= 0){
                books_count=1
            }
            //重新设置值
            $('.num_show').val(parseInt(books_count))
            //计算总价
            updata_total_price()
        });
    })
</script>
{% endblock content %}

