{% extends 'base.html' %}
{% block title %}
    <title>尚硅谷书城-登录</title>
{% endblock title %}
{% block header %}
{% endblock header %}
{% block search %}
{% endblock search %}

{% block content %}
	<div class="login_top clearfix">
		<a href="../books/index.html" class="login_logo"><img src="/static/images/logo.png" style="width: 160px; height: 53px;"></a>
	</div>

	<div class="login_form_bg">
		<div class="login_form_wrap clearfix">
			<div class="login_banner fl"></div>
			<div class="slogan fl">学计算机 · 来尚硅谷</div>
			<div class="login_form fr">
				<div class="login_title clearfix">
					<h1>用户登录</h1>
					<a href="/users/register/">立即注册</a>
				</div>
                <div class="clearfix">{{ errormsg }}</div>
				<div class="form_input">
{#					<form method="post" action="/users/login_check/">#}
                        {% csrf_token %}
						<input type="text" name="username" id="username" class="name_input" value="{{ username }}" placeholder="请输入用户名">
						<div class="user_error">输入错误</div>
						<input type="password" name="pwd" id="pwd" class="pass_input" placeholder="请输入密码">
						<div class="pwd_error">输入错误</div>
						<div class="more_input clearfix">
							<input type="checkbox" name="remember" {{ checked }}>
							<label>记住用户名</label>
							<a href="#">忘记密码</a>
						</div>
                        <div style="top:100px;position:absolute;">
                            <input type="text" id="vc" name="vc">
                            <img id="verifycode" src="/users/verifycode/" alt="checkcode"/>
                        </div>
						<input type="submit" name="" id="submit" value="登录" class="input_submit">
				</div>
			</div>
		</div>
	</div>
<script type="application/javascript">
    $('#submit').click(function () {
        var username = $('#username').val();
        var password = $('#pwd').val();
        var csrf = $('input[name="csrfmiddlewaretoken"]').val()
        var remember = $('input[name="remember"]').prop('checked');
        console.log(remember)
        var vc =$('input[name="vc"]').val()
        data={
            'username':username,
            'password':password,
            'remember':remember,
            'csrfmiddlewaretoken':csrf,
            'verifycode':vc,
        }
        $.ajax({
            data:JSON.stringify(data),
            type:'POST',
            url:'/users/login_check/',
            //成功后的回调函数
            success:function (data) {
                if (data.code==200){
                    alert('登录成功！');
                    location.href='/books/index/';
                }
                else if (data.code ==2 ){
                    $("#username").next().html('验证码错误').show()
                }
                else{
                    alert('登录失败！')
                    $("#username").next().html('用户名或密码错误').show()
                }
            }
        });

    });
</script>
{% endblock content %}