{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    <title>尚硅谷书城-用户中心</title>
{% endblock title %}
{% block content %}
	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="{% url 'users:user' %}" class="active">· 个人信息</a></li>
				<li><a href="{% url 'users:order' page=1%}">· 全部订单</a></li>
				<li><a href="{% url 'users:address' %}">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<div class="info_con clearfix">
				<h3 class="common_title2">基本信息</h3>
						<ul class="user_info_list">
							<li><span>用户名：</span>{{ request.session.username }}</li>
							{% if addr %}
                            <li><span>联系方式：</span>{{ addr.recipient_phone }}</li>
							<li><span>联系地址：</span>{{ addr.recipient_addr }}</li>
						    {% else %}
                            <li><span>联系方式：</span>无</li>
							<li><span>联系地址：</span>无</li>
                            {% endif %}
                        </ul>
				</div>
				
				<h3 class="common_title2">最近浏览</h3>
				<div class="has_view_list">
					<ul class="book_type_list clearfix">
                        {% for book in book_li %}
                            <li>
                                <a href="{% url 'books:detail' book_id=book.id %}"><img src="{% static book.image %}"></a>
                                <h4><a href="{% url 'books:detail' book_id=book.id %}">{{ book.name }}</a></h4>
                                <div class="operate">
                                    <span class="prize">￥{{ book.price }}</span>
                                    <span class="unit">/{{ book.unit }}</span>
                                    <a href="javascript:;"  books_id="{{ book.id }}"class="add_book" title="加入购物车"></a>
                                </div>
                            </li>
                        {% empty %}
                            <span>暂无记录</span>
                        {% endfor %}
			</ul>
		</div>
		</div>
	</div>

{% endblock content %}
{% block js %}
    <script type="application/javascript">
		$('.add_book').click(function(){
		    var books_id=$(this).attr('books_id');
		    var book_count =1;
		    var csrf = $('input[name="csrfmiddlewaretoken"]').val();
		    data={
		        'book_id':books_id,
                'book_count':book_count,
                'csrfmiddlewaretoken':csrf
            };
		    $.ajax({
		        data:JSON.stringify(data),
		        type:'POST',
                url:'/cart/cart_add/',
                success:function (data) {
                    console.log(data.code);
                    //添加成功
                    if (data.code==5) {
                        count = $('#show_count').html()
                        count = parseInt(count) + parseInt(book_count)
                        $('#show_count').html(count);
                    }
                    else{
                        //添加失败
                        alert(data.errmsg);
                    }
                }

            });

		});
    </script>
{% endblock js %}